<div style="background-color: white;height: 100vh;">
<div class="header">
      <div class="header_img">
        <img src='../../../assets/KTM School Logo.jpg'/>
      </div>
      <div class="header_Name">
         <h1>Kathmandu Shikshyalaya</h1>
         <h4>Tarkeshwor, Shesmati</h4>
      </div>
</div>
<div class="body">
  <div class="body_contain">
      <h3>Take Exam</h3>
      <input type="text" [(ngModel)]="this.classnumber" placeholder="Class number" />
      <input type="text" [(ngModel)]="this.section" placeholder="Section" />
      <input type="text" [(ngModel)]="this.studentname" placeholder="Student Name"  />
      <input type="text" [(ngModel)]="this.rollno" placeholder="Roll number"  />
      <input type="text" [(ngModel)]="this.username" placeholder="Username"  />
      <input type="text" [(ngModel)]="this.password" placeholder="Password"  />
      <div class="body_containButtonDiv">
        <button (click)="login()">Login</button>
        <button (click)="register()">Register</button>
      </div>
  </div>
</div>
<div class="footer">
  <div class="footer_footer">
      <h6><span>Kathmandu Sikshyalaya</span> © 2020. All Rights Reserved. Developed by <span>Susan Shrestha</span></h6>
  </div>
</div>
</div>
