*{
    color: black;
}
.header {
    display: flex;
    background-color: #0c4261;
}
.header_img {
    flex: 0.37;
}
.header_img > img{
   padding:20px 80px;
   width: 200px;
   height: 100px;
}
.header_Name {
    display: flex;
    flex: 0.63;
    align-items:center;
}
.header_Name > h1 {
    color: white;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .header_img {
       display: none;
    }   
    .header_Name {
        display: flex;
        flex: 1;
        align-items:center;
        justify-content: center;
    }
    .header_Name > h1 {
        color: white;
        font-size: 20px;
    }
}



.testbody{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
}
.testbody > h1 {
    text-align: center;
}
.testbody_container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50vh;
    border: 1px solid gray;
    align-self: center;
    align-items: center;
}
.testbody_container >input {
    margin-top: 20px;
    height: 30px;
    width: 80%;
}
.testbody_container > .buttonGroup > button {
    width: 100px;
    height:40px;
    background-color:lightgreen;
}
.testbody_input {
    display: flex;
    align-items: center;
}
.checker_container {
    display: flex;
    justify-content: space-between;
}